@import "tailwindcss";


* {
  font-family: "Mozilla Headline", sans-serif;
}


/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* horizontal scrollbar height */
}

/* Scrollbar Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumbh {
  background-color: #eb0000;
  /* Tailwind's red-700 */
  border-radius: 4px;
  border: 2px solid white;
  /* adds padding around thumb */
}

/* Firefox scrollbar */
* {
  scrollbar-color: #b91c1c white;
}